@import "grid";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgb(22,72,150);
  background: rgba(100,100,100,0.0);
}

.header__container{
  @include row();

  position: relative;
}

.header__logo {
  @include col(1);
}
