@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

.logo {
  font-family: 'Great Vibes', cursive;
  padding-top: 5px;
  padding-bottom: 5px;
  a {
    text-decoration: none;
  }
}

.logo--medium {
  font-size: 1.8em;
  font-weight: bold;
}

.logo--large {
  font-size: 3em;
  font-weight: bold;
}


.logo--white {
  a {
    color: white;
  }
}
