@import "grid";
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.quote {
  @include col();
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote--big {
  font-size: 4em;
}
