@import "grid";
@import "variables";

.registry {
  @include col();

  text-align: center;
}

.registry__container{
  background-color: $textBackground;
  height: 200px;
  border-radius: 10px;
  background-image: image-url('flower.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.registry__title{
  font-family: $font;
  font-size: 1em;
}


.registry--top{
  margin-top: 20px;
}
