@import "grid";
@import "variables";

.registry {
  @include col();

  text-align: center;
}

.registry__container{
  background-color: $textBackground;
  //height: 200px;
  border-radius: 10px;
  background-image: image-url('flower.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 10px;
}

.registry__title{
  font-family: $font;
  color: $titleColor;
  font-size: 1em;
}

.registry__text {
    font-family: $fontContent;
    color: $textColor;
    margin-bottom: 10px;
}

.registry--top{
  margin-top: 20px;
}
