@import "grid";
@import "variables";

.schedule {
  @include col();
  overflow: hidden;

  @include mq(600px){
      @include col(1/2);
  }
}

.schedule__container {
  background-color: $textBackground;
  //height: 200px;
  border-radius: 10px;
  background-image: image-url('flower.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 10px;
}

.schedule__title{
  font-family: $font;
  color: $titleColor;
  font-size: 1em;
}

.schedule__subTitle{
  font-family: $font;
  color: $subTitleColor;
  font-size: 0.8em;
}

.schedule__text {
    font-family: $fontContent;
    color: $textColor;
    margin-bottom: 10px;
}