@import "grid";
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.venue {
  @include row(true);
}

.venue__item {
  margin-top: 1rem;
  font-family: 'arial';
  font-size: 12;
  height: 225px;

  img {
    display: block;
    margin: auto;
  }

  @include col();
  @include mq(600px){
    @include col(1/2);
    height: 200px;
  }

  p {
    margin-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;

    @include mq(600px){
      padding-left: 60px;
      padding-right: 60px;
    }

    @include mq(900px){
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  a{

    color: black;
  }

  a:hover{
    text-decoration: underline;
  }

  a:visited {
    color: black;
  }
}

.item__title {
  font-family: 'Dancing Script', cursive;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}

.item__schedule {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.item__title--subtitle {
  font-family: arial;
  font-weight: bold;
}

.item__title--bold {
  font-weight: bold;
}

.item__title--center {
  text-align: center;
}

.slick--small{
  width: 250px;
  margin-left: auto;
  margin-right: auto;

  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
